# luv.config
# This file specifies with test suites are executed when LuvOS boots.
# All test suites are selected by default. This file can be modified by
# the user. If you do not wish to execute a particular test suite, just
# remove the "yes" located next to that specific test suite.
# Of course, your selections will be overwritten when you reflash your
# bootable media.
#
# LUV utilizes the following schema to describe the test suites in this file:
# testrunner:Test Suite Name:yes/no
#
# * testrunner is the name that LUV utilizes to identify the test suite.  Do
#   not modify.
# * Test Suite Name is the name that will appear in the grub menu.
# * yes/no can be changed by the user via modifying this file or via the
#   grub menu when booting LUV.
#
bits:BIOS Implementation Test Suite:yes
efivarfs-test:(U)EFI variable filesystem tests:yes
fwts:FirmWare Test Suite:yes
kernel-efi-warnings:Kernel-issued warnings:yes
